customer-api-demo/src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" />
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" />
    <secure-property-placeholder:config name="Secure_Property_Placeholder" key="${product.key}" location="properties/${mule.env}.properties" doc:name="Secure Property Placeholder" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="put:/customers:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{ &quot;message&quot;: &quot;The customer has been properly entered&quot; }" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/customers/{id}:application/json:api-config">
        <set-payload value="[{&#xA;  &quot;id&quot;:1234,&#xA;  &quot;object&quot;:&quot;Customer&quot;,&#xA;  &quot;message&quot;:&quot;Successfully updated / other business message&quot;&#xA;}]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customers:application/json:api-config">
        <set-payload value="[{&#xA;  &quot;id&quot;:1234,&#xA;  &quot;object&quot;:&quot;Customer&quot;,&#xA;  &quot;message&quot;:&quot;Successfully updated / other business message&quot;&#xA;}]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customers/{id}:api-config">
        <set-payload value="[{&#xA;  &quot;id&quot;:1234,&#xA;  &quot;object&quot;:&quot;Customer&quot;,&#xA;  &quot;message&quot;:&quot;Successfully updated / other business message&quot;&#xA;}]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers:api-config">
        <set-payload value="{&#xA;&#x9;&quot;customers&quot;: [{&#xA;&#x9;&#x9;&#x9;&quot;id&quot;: &quot;1234&quot;,&#xA;&#x9;&#x9;&#x9;&quot;firstName&quot;: &quot;Thomas&quot;,&#xA;&#x9;&#x9;&#x9;&quot;lastName&quot;: &quot;Marshall&quot;,&#xA;&#x9;&#x9;&#x9;&quot;addresses&quot;: [ {&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;fake street&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;fake suburb&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;state&quot;: &quot;fake state&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;postcode&quot;: &quot;2312&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;Australia&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;dpid&quot;:&quot;1234&quot;&#xA;&#x9;&#x9;&#x9;&#x9;}&#xA;&#x9;&#x9;&#x9;]&#xA;&#x9;&#x9;}&#xA;&#x9;]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{id}:api-config">
        <set-payload value="{&#xA;    &quot;id&quot;: &quot;1234&quot;,&#xA;    &quot;firstName&quot;: &quot;Thomas&quot;,&#xA;    &quot;lastName&quot;: &quot;Marshall&quot;,&#xA;    &quot;addresses&quot;: [{&#xA;          &quot;street&quot;: &quot;fake street&quot;,&#xA;          &quot;city&quot;: &quot;fake suburb&quot;,&#xA;          &quot;state&quot;: &quot;fake state&quot;,&#xA;          &quot;postcode&quot;: &quot;2312&quot;,&#xA;          &quot;country&quot;: &quot;Australia&quot;,&#xA;          &quot;dpid&quot;:&quot;1234&quot;&#xA;        }&#xA;    ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customers:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{ &quot;message&quot;: &quot;The customer has been properly entered&quot; }" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <apikit:exception value="org.mule.module.apikit.exception.ApikitRuntimeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Internal error occurred&quot;, &quot;dump&quot;: &quot;#[exception]&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
